In [28]:
import pandas as pd
from Config.Config import Config
from Banco.Dados import Dados
from scipy.interpolate import griddata

#arquivo destinado a testes

config = Config()
dados = Dados()

# data = dados.get_post_data(lat_inicial=-22.6,lat_final=-21.32,lon_inicial=-44.8,lon_final=-44.2)

In [29]:


posto=1
data_inicial='2017-01-01'
data_final='2017-01-31'
lat_inicial=-22.6
lat_final=-21.32
lon_inicial=-44.8
lon_final=-44.2


chuva = dados.get_gridded_data(
            data_inicial=data_inicial,
            data_final=data_final,
            classe="Chuva",
            lat_inicial=lat_inicial,
            lat_final=lat_final,
            lon_inicial=lon_inicial,
            lon_final=lon_final
    )

temp = dados.get_gridded_data(
            data_inicial=data_inicial,
            data_final=data_final,
            classe="Temperature",
            lat_inicial=lat_inicial,
            lat_final=lat_final,
            lon_inicial=lon_inicial,
            lon_final=lon_final
    )

umid = dados.get_gridded_data(
            data_inicial=data_inicial,
            data_final=data_final,  
            classe="Solo",
            lat_inicial=lat_inicial,
            lat_final=lat_final,
            lon_inicial=lon_inicial,
            lon_final=lon_final
    )

vaz_natr = dados.get_vazao(data_inicial=data_inicial, data_final=data_final, posto=1)

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'tbl_vazao.val_vaz_defl' in 'field list'
[SQL: SELECT tbl_vazao.id, tbl_vazao.num_posto, tbl_vazao.dat_medicao, tbl_vazao.val_vaz_natr, tbl_vazao.val_vaz_defl, tbl_vazao.val_vaz_aflu, tbl_vazao.val_vaz_vert, tbl_vazao.val_vaz_incr, tbl_vazao.val_cota
FROM tbl_vazao
WHERE tbl_vazao.dat_medicao >= %(dat_medicao_1)s AND tbl_vazao.dat_medicao <= %(dat_medicao_2)s AND tbl_vazao.num_posto = %(num_posto_1)s]
[parameters: {'dat_medicao_1': '2017-01-01', 'dat_medicao_2': '2017-01-31', 'num_posto_1': 1}]
(Background on this error at: http://sqlalche.me/e/f405)

In [23]:
display(vaz_natr.head(), chuva.head(), temp.head(), umid.head())

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'tbl_vazao.val_vaz_defl' in 'field list'
[SQL: SELECT tbl_vazao.id, tbl_vazao.num_posto, tbl_vazao.dat_medicao, tbl_vazao.val_vaz_natr, tbl_vazao.val_vaz_defl, tbl_vazao.val_vaz_aflu, tbl_vazao.val_vaz_vert, tbl_vazao.val_vaz_incr, tbl_vazao.val_cota
FROM tbl_vazao
WHERE tbl_vazao.dat_medicao >= %(dat_medicao_1)s AND tbl_vazao.dat_medicao <= %(dat_medicao_2)s AND tbl_vazao.num_posto = %(num_posto_1)s]
[parameters: {'dat_medicao_1': '2017-01-01', 'dat_medicao_2': '2017-01-31', 'num_posto_1': 1}]
(Background on this error at: http://sqlalche.me/e/f405)

In [22]:
display(chuva.head(), temp.head(), umid.head())

df = chuva.iloc[:, 1:]
df = df.merge(vaz_natr.iloc[:, 2:4], on="dat_medicao") #data frame com lat, lon, date, prep, e vaz da area selecionada para o posto 1
df = df.merge(temp.iloc[:, 1:], on=["dat_medicao", "val_lat", "val_lon"]) #O merge so vai funcionar quando a granulacao da loc for a mesma em todos os dataframes
df = df.merge(umid.iloc[:, 1:], on=["dat_medicao", "val_lat", "val_lon"])

         id  val_lon  val_lat dat_medicao  val_precip
0  14754702    -44.8    -22.4  2017-01-01    2.210620
1  14754703    -44.6    -22.4  2017-01-01   12.946800
2  14754704    -44.4    -22.4  2017-01-01   27.894500
3  14754705    -44.2    -22.4  2017-01-01   37.200800
4  14754765    -44.8    -22.2  2017-01-01    0.848462

,id,val_lon,val_lat,dat_medicao,val_temp_med,val_temp_max,val_temp_min
0,2091120,-44.5,-22.5,2017-01-01,26.5960,33.6718,19.7029
1,2091133,-44.5,-21.5,2017-01-01,25.7340,32.0475,17.9316
2,2091230,-44.5,-22.5,2017-01-02,26.6141,32.4645,20.5074
3,2091243,-44.5,-21.5,2017-01-02,25.7518,31.3920,18.6970
4,2091340,-44.5,-22.5,2017-01-03,25.4623,32.1899,19.2727

       id  val_lon  val_lat dat_medicao  val_soil
0  354326    -44.8    -22.4  2017-01-01   202.691
1  354327    -44.8    -22.2  2017-01-01   202.691
2  354328    -44.8    -22.0  2017-01-01   187.179
3  354329    -44.8    -21.8  2017-01-01   187.179
4  354330    -44.8    -21.6  2017-01-01   187.179